# Common requirements
# -----------------------
# This file collects all required third-party applications that are needed
# to run this project. Later you can install all these apps in a row
# using pip. Example:
#
#     pip install -r requirements.txt
#
#   It's higly recomended to use it within a virtualenv.
#
#
#

# py utils
six
setuptools==38.*
wheel
configparser; python_version < '3.0'

# Isogeo
isogeo-pysdk

# win10 toaster
win10toast

# dates
arrow

# Django
django==1.11.*
django-extensions==1.9.*
django-suit==0.2.*

# wx
# .\lib\wxPython_common-3.0.2.0-py2-none-any.whl
# .\lib\wxPython-3.0.2.0-cp27-none-win_amd64.whl
