# Common requirements
# -----------------------
# This file collects all required third-party applications that are needed
# to run this project. Later you can install all these apps in a row
# using pip. Example:
#
#     pip install -r requirements.txt
#
#   It's higly recomended to use it within a virtualenv.
#
#
#

# Isogeo
isogeo-pysdk

# pywin32
.\lib\pywin32-220.1-cp27-cp27m-win_amd64.whl
.\lib\wxPython_common-3.0.2.0-py2-none-any.whl
.\lib\wxPython-3.0.2.0-cp27-none-win_amd64.whl
